@{
    ViewBag.Title = "Home Page";
}

<h2>Приветствие</h2>
<div class="text-center">
    @ViewBag.Hello
    <br />
    @ViewBag.Greeting - это текст<br />
    @ViewBag.Greeting, minu Mäilm!

    <hr />
    <h2>Продолжение проекта <br />приглашение, создание ссылок</h2>
    <h3>Вы приглашены на вечеринку!!!</h3>
    <!-- создание ссылки Helper -->
    <div class="btn btn-link">
        @Html.ActionLink("Регистрация на вечеринку", "RegisterForm")
    </div>


</div>