@model NET_JKTVR19_Praktika1.Models.GuestResponse

@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks</h2>
<div class="text-center">
    <h1>Ваш ответ получен, @Model.Name</h1>
    @if (Model.WillAttend == true)
    {
        @:Ждем вас, <b>@Model.Name</b>
    }
    else
    {
        @:Жаль, что вы не сможете прийти :(
    }

</div>
<hr />
<div class="btn btn-default">
    <!-- -->
    @Html.ActionLink("Go to Home Page", "Index")
</div>
